.vs/
*.sln
*.suo
*.vcxproj*
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.idb
*.ipch
*.aps
*.ncb
*.obj
*.log
*.tlog
*.lastbuildstate
*.opensdf
*.sdf
*.VC.db
*.db-shm
*.db-wal
*.ilk

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/
*.ninja
*.vcxproj.filters
*.vcxproj.user
*.cbp

*.db
*.sql-journal
pgdata/
pg_logs/
postgresql.conf
pg_hba.conf
pg_ident.conf
*.dump

*.o
*.obj
*.so
*.a
*.lib
*.la
*.lo
*.def
*.exp
*.dll
*.dylib
*.exe
*.out

*.log
*.tmp
*.swp
*.DS_Store
*.bak
*.orig
*.rej
thumbs.db


*.tar.gz
*.zip
*.7z
*.rar

.idea/
cmake-build-debug/
cmake-build-release/
